<div class="container mt-4">
    <table  datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"  class="mt-4 mb-4 table table-striped table-bordered row-border hover">
        <thead>
          <tr>
            <th>ClientId</th>
            <th>Nombre</th>
            <th>Codigo</th>
            <th>PosnetID</th>
            <th>PosnetNumber</th>
     

          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let ac of arraycliente ">
             <td>{{ ac.ClientId }}</td>
            <td>{{ ac.Name }}</td>
            <td>{{ ac.Code}}</td>
            <td *ngFor="let p of ac.Posnets" >
              {{p.PosnetId}}
            </td>
            <td *ngFor="let p of ac.Posnets" >
                {{p.Number}}
            </td>
          
          </tr>
        </tbody>
        </table>
    </div>